* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Avenir-Roman", Helvetica, "Helvetica Neue", Arial, sans-serif;
    ;
}
.different-color{
    color: #ec008c;
}
nav {
    height: 100px;
    width: 100%;
    background-color: #2E3192;
    position: fixed;
    display: flex;
    /* align-items: center; */
}

.container {
    width: 80%;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
    /* display: flex; */
    /* justify-content: center; */
}

nav ul {
    display: flex;
    flex-direction: row;
    justify-content: right;
    /* align-self: center; */
    padding-top: 20px;
    /* padding-bottom: auto; */

}

nav ul li {
    display: inline-block;
    /* justify-content: right; */
    padding: 20px;

}

nav ul li a {
    /* display: flex; */
    color: white;
    text-decoration: none;
    list-style: none;
}




.logo {
    display: flex;
    /* width: 250px; */
    /* align-items: center; */
    float: left;
}

.logo img {
    width: 250px;
    display: flex;
    /* float: left; */
    padding-top: 30px;
    /* align-items: center; */
}

section {
    padding-top: 80px;
    padding-bottom: 80px;
}

.page1 {
    background-color: #2E3192;
    width: 100%;
    height: 400px;
    padding-top: 130px;

}

.page1 h1 {
    color: white;
    text-align: center;
    font-weight: normal;
    font-size: 5.5em;
    margin-bottom: 20px;
}

.page1 p {
    text-align: center;
    color: #EC008C;

}

.page2 h1 {
    text-align: center;
    color: #2e3192;
    font-weight: normal;
    font-size: 2.5em;

}

.page2 p {
    text-align: center;
    padding-top: 30px;
}

.page2 ul {
    padding-top: 30px;
    margin-left: 20px;
}

.page3 {
    background-image: url(parallax-home.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 300px;
}


.page4 {
    width: 100%;
    height: 500px;

}


.page4 h1 {
    text-align: center;
    font-weight: normal;
    font-size: 1.5em;
}

.page4 p {
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;


}


.images {
    width: 100%;
    /* height:  */
    /* outline: 1px black solid; */
    /* display: flex; */


}

.images ul {
    display: flex;

    /* align-items: center; */
    /* justify-content: space-around; */
    /* gap: 5rem; */
    list-style: none;
    flex: 1;



}

.third {
    flex: 1;
}


.first {
    flex: 1;
}

.second {
    flex: 1;

}

.images img {
    display: block;
    margin-left: auto;
    margin-right: auto;

}

.footer p {
    color:blue ;
    font-size: 1.5em;
    padding-bottom: 20px;
    font-weight: normal;
    /* text-align: left; */
}

.footer ul {
    list-style: none;

}



.footer ul a, li {
    text-decoration: none;
    color: #666;
    margin-bottom: 10px;

}
.footer ul a:hover{
    color: blue;
}

.left {
    float: left;
    width: 70%;
}

.first_place{
    float: left;
}

.second_place{
    float: left;
    padding-right: 100px;
    padding-left: 100px;
}



.right {
    float: right;
    padding-right: 15%;
}
.copyright{
    padding-top: 100px;
    padding-bottom: 10px;
}

.img{
    height: 100px;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    display: flex;
    /* background-image: url(logo_footer.png);
    background-repeat: no-repeat;
    background-position:center right; */
}

.img p{
    color: #666;
}